{% extends "base.html" %}

{% block content %}

<h2>{{ post.title }}</h2>

<a href="{% url 'posts:edit' pk=post.pk %}"><input type="submit" value="수정"></a>
<a href="{% url 'posts:remove' pk=post.pk %}"><input type="submit" value="삭제"></a>


<ul>
    <li>국가: {{ post.region }}</li>
    <li>작성자: {{ post.author }}</li>
    <li>하트: {{ post.heart }}</li>
    <li>똥: {{ post.poop }}</li>
    <li>작성시간: {{ post.time_created }}</li>
</ul>
    <p>{{ post.content|linebreaks }}</p>

<hr>

<h3>댓글</h3>
<form action="/post/{{ post.pk }}/comment/" method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글을 입력하세요.">
    <input type="submit" value="댓글 쓰기">
</form>

{% for comment in post.comments.all %}
<div class="comment">
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.time_created }}</p>
    <p>{{ comment.content }}</p>
    <a href="/post/{{ post.pk }}/comment/{{ comment.pk }}"><input type="submit" value="댓글삭제"></a>
{% empty %}
    <p>댓글이 없습니다.</p>
</div>
{% endfor %}
{% endblock content %}