body {
    padding-left: 15px;
}

.sidebar-nav {
    background-color: #d3d3d3
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
}


.page-header {
    background-color: #692eb2;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}