<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <title>Service name</title>
</head>
<body>
<div class="page-header">
    <a href="/"><h1>Service name</h1></a>
</div>


<div class="sidebar-nav">
<ul>
    {% if user.is_authenticated %}
    <li>[{{ user.profile.region }}] {{ user.username }} 님!</li>
    <li>오늘 남은 하트:{{ user.profile.heart }}</li>
    <li>오늘 남은 똥:{{ user.profile.poop }}</li>
    <li>설정</li>
    <li><a href="{% url 'logout' %}">로그아웃</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">로그인</a></li>
    <li><a href="{% url 'signup' %}">회원가입</a></li>
    {% endif %}
</ul>
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

</body>
</html>